/*Default Css Start*/
body{font-family: 'Poppins', sans-serif;}
h1,h2,h3,h4,h5,h6{font-family: 'Plus Jakarta Sans', sans-serif;}

.btn{padding:14px 36px; font-size: 15px; text-transform: uppercase; border-radius: 10px;}
.btn-primary{background:#00b542; color:#fff; border-color:#00b542;}
.btn-primary:hover, .btn-primary:focus, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary.show, .btn-primary:first-child:active, :not(.btn-check)+.btn-primary:active{background:#009837; color:#fff; border-color:#009837;}

.btn-bordered{border:1px solid #00b542; color:#00b542;}
.btn-bordered:hover, .btn-bordered:focus{background:#00b542; color:#fff;}

.btn-sm{padding:8px 20px; font-size:13px; border-radius:10px;}

.btn-dark{background:#000; color:#fff;}
.btn-dark:hover, .btn-dark:focus{background:#111; color:#fff;}
.text-primary{color:#00b542 !important;}
a, a:hover, a:focus{color:#00b542;}

@media (min-width:1200px){
	.container{max-width:1280px;}
}
main.web-main{margin-top:129px;}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{position: absolute; top:50%; left:10px; width:50px; height:50px; line-height:50px; background:#fff; text-align: center; margin-top:-25px;}
.owl-carousel .owl-nav button.owl-next{left:auto; right:10px;}
/*Default Css End*/

/*Header Css Start*/
.web-header{position:fixed; top:0; left:0; right:0; z-index:105;}
.header-top{background:#000; padding:8px 0;}
.header-top a{color:#888888; font-size:13px; text-decoration: none; display: inline-block; vertical-align: middle;}
.header-top a:hover, .header-top a:focus{color:#00b542; text-decoration: none;}
.header-top .container{display: flex; align-items: center; justify-content: space-between;}
.seprator{display: inline-block; vertical-align: middle; width:1px; height:40px; margin:-15px 15px; opacity:0.3; background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=0 );
}
.left-menu img{margin-right:8px;}
.left-menu b{font-weight:inherit;}
.left-menu img, .left-menu span, .right-menu span{display: inline-block; vertical-align: middle;}
.right-menu{text-align: right;}
.right-menu a{color:rgba(255,255,255,0.55);}
.right-menu span{margin:0 15px; color:#3f3f47;}
.header-social{display:inline-block; margin-left:15px;}
.header-social a{font-size:17px; display: inline-block; margin-left:17px;}
.mobile-menu-close{display: none;}
.navbar{background:#fff; height:89px; position: relative; box-shadow:0 5px 12px 0 rgba(0,0,0,0.10);}
.navbar:after{content:''; background:url('../img/logo-bottom-bg.png') no-repeat center bottom; width:285px; height:55px; position: absolute; top:100%; left:50%; 
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.navbar-brand{position: absolute; top:3px; left: 50%; z-index:5;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}
.blogo-space{width:160px;}
.navbar-expand-lg .navbar-nav{position: relative; left:30px;}
.navbar-expand-lg .navbar-nav .nav-item{vertical-align: middle;}
.navbar-expand-lg .navbar-nav .nav-item.d-none .btn{margin-left:15px; text-transform: uppercase; font-size:14px; padding: 6px 13px; border-radius:6px;}
.navbar-nav .nav-link{font-size:14px; color:#000; font-weight:500; margin:0 18px; text-transform: uppercase;}
.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover, .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{color:#00b542;}
/*Header Css End*/

/*Banner Css Start*/
.banner-section .owl-carousel .item{position: relative; min-height:calc(100vh - 129px); background-repeat: no-repeat; background-position: center; display: flex; justify-content: center; align-items: center; text-align: center; background-size: cover;}
.banner-section .owl-carousel .item:after{content:''; position: absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.29); z-index:0;}
.banner-section .owl-carousel .owl-nav button.owl-prev, .banner-section .owl-carousel .owl-nav button.owl-next{left: auto; right:10px; top:auto; bottom:70px; opacity:0.6;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
.banner-section .owl-carousel .owl-nav button.owl-next{bottom:10px;}
.banner-section .owl-carousel .owl-nav button.owl-prev:hover, .banner-section .owl-carousel .owl-nav button.owl-next:hover{opacity:1;}
.slider-text{position: relative; z-index:2;}
.welcome-title{font-family: 'Plus Jakarta Sans', sans-serif; font-size:36px; color:#fff; font-weight:300; letter-spacing:2px;}
.banner-title{font-family: 'Plus Jakarta Sans', sans-serif; font-size:90px; color:#fff; font-weight:700; letter-spacing:6px; margin-bottom:25px;}
.slider-text .btn-lg{font-size:20px; text-transform: uppercase; font-weight:500; padding:22px 20px; border-radius:12px; min-width:280px; border:1px solid rgba(255,255,255,0.5);}
/*Banner Css End*/

/*Destinations Section Css Start*/
.destinations-section{padding:100px 0;}
.sub-title{font-family: 'Poppins', sans-serif; font-size:18px; line-height:25px; color:#4f504f; text-align: center; letter-spacing:2px;}
.section-title{font-family: 'Plus Jakarta Sans', sans-serif; font-size:42px; color:#00b542; text-align: center; letter-spacing:4px; font-weight:900; text-transform: uppercase;}

.destinations-inner{display: grid; grid-template-columns: repeat(4,1fr);  row-gap:40px; gap:40px; padding:0 25px; margin-top:56px;}
.destinations-inner a{position: relative; overflow: hidden; display:block;  -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.destinations-inner a:before{content:''; position:absolute; top:15px; right:15px; bottom:15px; left:15px; border:1px solid rgba(255,255,255,0.3); z-index:1; opacity:0;  -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.destinations-inner a:after{content:''; position:absolute; top:0; right:0; bottom:0; left:0; background:rgb(0 181 66 / 67%); z-index:0; opacity:0;  -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.destinations-inner span{position: absolute; top:50%; left:5%; right:5%; display: block; opacity:0;z-index:2; text-align: center; font-size:32px; line-height:42px; color:#fff; text-shadow:0 0 20px rgba(0,0,0,0.6);  -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.destinations-inner a:hover span, .destinations-inner a:hover:before, .destinations-inner a:hover:after{opacity:1;}
.destinations-inner a:hover{
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
}
/*Destinations Section Css End*/

/*Hotel Service Section Css Start*/
.hotel-service-section{padding:100px 0; position: relative;}
.hotel-service-section:after{content:''; position: absolute; top:0; left:0; right:0; height:300px; z-index:-1; opacity:6%; background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
}
.hotel-service-box-inner{padding:20px 0 20px 60px;}
.hotel-service-box:nth-child(even) .hotel-service-box-inner{padding-left:0; padding-right:60px;}
.evennth .hotel-service-box-inner{padding:20px 60px 20px 0;}
.evennth .hotel-service-box:nth-child(even) .hotel-service-box-inner{padding:20px 0 20px 60px;}
.hotel-service-box p, .art-artefacts-section p, .verdance-box p{font-size:16px; color:#484747; line-height:26px; margin-bottom:25px;}
.hotel-service-title, .art-artefacts-title{font-family: 'Plus Jakarta Sans', sans-serif; font-size:42px; color:#000010; letter-spacing:4px; text-transform: uppercase; font-weight:800; margin-bottom:10px;}
/*Hotel Service Section Css End*/

/*Art and Artefacts Section Start*/
.art-artefacts-section{background:url('../img/art-artefacts-bg.jpg') no-repeat center; background-size:cover; position:relative; padding:60px 70px; border-radius:25px; overflow: hidden; margin-bottom:100px;}
.art-artefacts-section:after{content:''; position: absolute; top:0; right:0; bottom:0; left:0; background:rgba(1,0,23,0.88); z-index:0;}
.art-artefacts-section .owl-carousel{position: relative; z-index:1;}
.art-artefacts-img{border:2px solid #00b542; border-radius:25px; overflow: hidden; display:block;}
.art-artefacts-section p{color:#fff;}
.art-artefacts-text{padding:60px 0 0 30px;}
.art-artefacts-title{text-decoration: none;}
.art-artefacts-section .owl-carousel .owl-nav button.owl-prev, .art-artefacts-section .owl-carousel .owl-nav button.owl-next{left: auto; right:60px; top:auto; bottom:0px;}
.art-artefacts-section .owl-carousel .owl-nav button.owl-next{right:0;}
/*Art and Artefacts Section End*/

/*Verdance Section Css Start*/
.verdance-section{height:700px; background-repeat: no-repeat; background-position: center; background-size: cover; position: relative; display: flex;justify-content: end; align-items: end;}
.verdance-box{background:rgba(13,25,56,0.88); padding:45px 55px; color:#fff; max-width:630px; margin:20px;}
.verdance-box-title{font-family: 'Plus Jakarta Sans', sans-serif; font-size:28px; color:#000010; text-transform: uppercase; font-weight:700; margin-bottom:10px;}
.verdance-box p{font-size:14px; color:#fff; margin-bottom:0;}
/*Verdance Section Css End*/

/*Testimonials Section Css Start*/
.testimonials-section{padding:100px 0; text-align: center;}
.testimonials-section .owl-carousel{margin-top:50px;}
.tes-message-box{background:#f0fbf4; padding:60px 10% 120px; min-height:400px; position: relative;}
.tes-message-box:after{content:''; position: absolute; top:50%; left:50%; background:url('../img/quote-icon.png') no-repeat 0 0; width:137px; height:105px; display: inline-block;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.tes-message-box p{font-size:17px; line-height:32px; color:#052a12; margin-bottom:0;}
.tes-author-box{margin-top:-64px; position: relative; z-index:2;}
.tes-author-img{width:128px; height:128px; border-radius:50%; overflow: hidden; margin:0 auto 15px; border:4px solid #fff;}
.tes-author-img img{width:100%; height:100%;}

.author-name{font-size:20px; font-weight:600;}
.author-designation{font-size:15px; color:#5b5e66;}
.testimonials-section .owl-carousel .owl-nav button.owl-prev, .testimonials-section .owl-carousel .owl-nav button.owl-next{left: 0; top:auto; bottom:55px; background:#e5f7ec;}
.testimonials-section .owl-carousel .owl-nav button.owl-next{left:60px; right: auto;}
/*Testimonials Section Css End*/

/*Tag Section Css Start*/
.tag-thetradefair{border-top:1px solid #d9d9d9; padding:80px 0;}
.tag-thetradefair-title{font-family: 'Plus Jakarta Sans', sans-serif; font-size:40px; font-weight:700; margin-bottom:20px;}
.tag-thetradefair-message{font-size:20px; color:#000; padding-left:40px; position: relative; line-height:40px;}
.tag-thetradefair-message .fa{font-size:24px; position: absolute; left:0; top:4px;}
/*Tag Section Css End*/

/*Footer Section Css Start*/
.footer-contact-list{display: flex; gap:20px; align-items: start;}
.footer-section{background:#1a1b2f; padding:100px 0 0; color:#fff;}
.footer-title{font-size:20px; font-weight:600; color:#fff; position: relative; padding-bottom:15px; margin:40px 0 20px; font-family: 'Plus Jakarta Sans', sans-serif;}
.footer-title:first-child{margin-top:0;}
.footer-title:before{content:''; position: absolute; top:100%; left:0; height:1px; width:120px; background:rgba(255,255,255,0.15);}
.footer-title:after{content:''; position: absolute; top:100%; left:0; height:7px; width:30px; background:#00b542; margin-top:-3px;}

.footer-section ul{list-style: none; padding:0; margin:0;}
.footer-section a, .by-text{font-size:14px; color:#bebec9; text-decoration:none; text-transform: uppercase; margin-bottom:8px; display: inline-block;}
.footer-section a:hover{color:#00b542;}

.footer-contact-list{margin-bottom:25px;}
.footer-contact-title{color:#00b542; font-size:20px; line-height:20px; text-transform: uppercase; font-weight:600; margin-bottom:10px;}
a.footer-contact-detail, address.footer-contact-detail{font-size:16px; text-transform: inherit; font-weight: normal; color:#bebec9;}
.copyright{display: flex; align-items: center; justify-content:space-between; border-top:1px solid rgba(255,255,255,0.15); padding:12px 0; margin-top:100px;}
.copyright p{margin:0; font-size:14px; color:rgba(255,255,255,0.33);}
.copyright .header-social a{color:#8d8d97;}
.copyright .header-social a:hover{color:#00b542;}
.tripadvisor-icon img{filter: gray; -webkit-filter: grayscale(1); filter: grayscale(1);}
.by-text{text-transform:inherit; padding-right:32px;}
.by-text a{display: inline-block;}
/*Footer Section Css End*/


/*About Page Css Start*/
.page-title-section{min-height:400px; background-repeat: no-repeat; background-position: center; background-size: cover; display: flex; align-items: center; text-align: center; position: relative;}
.page-title-section:after{content:''; position: absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.56); z-index:0;}
.page-title-section .container{position: relative; z-index:1;}
.page-title{font-size:52px; color:#fff; font-family: 'Plus Jakarta Sans', sans-serif; font-weight:600; text-shadow:0 0 20px rgba(0,0,0,0.30)}

.counter-section{background-color:#00b542; background-image:url('../img/counter-bg.png'); background-repeat: no-repeat; background-position: center; background-size: cover; padding:40px 0; text-align: center; color:#fff;}
.counter-section .container{display: grid;  grid-template-columns: repeat(4,1fr); row-gap:20px; gap:20px;}
.counter-section article{display:block; border-right:1px solid rgba(255,255,255,0.3);}
.counter-section article:last-child{border-right:0;}
.counter-list-number{font-size:45px; line-height:55px; font-weight:600;}
.counter-list-name{font-size:16px; text-transform: capitalize; letter-spacing:1px; font-weight:300;}
/*About Page Css End*/

/*Career Page Css Start*/
.vacancies-listing-section{padding:120px 0 80px;}
.vacancies-list{border:1px solid #ccc; border-radius:30px; padding:25px 50px; display: flex; gap:15px; justify-content: space-between; position: relative; overflow: hidden; margin-bottom:40px;}
.vacancies-list:after{content:''; position: absolute; left:-35px; top:25px; background:#00b542; width:54px; height:54px; border-radius:30px;}
.vacancies-list p{font-size:15px; line-height:24px; font-weight:400; color:#545454;}
.vacancies-name{font-size:32px; color:#03021f; font-weight:800;  font-family: 'Plus Jakarta Sans', sans-serif;}
.vacancies-position{font-size:16px; color:#7a7a7a; font-style: italic; letter-spacing:0.5px; margin: 3px 0 16px;}
.vacancies-loc-time{margin-bottom:15px;}
.vacancies-loc-time span{display: inline-block; background:#f5f5f5; font-size:14px; font-style:italic; padding:8px 22px; border-radius:20px; margin-right:8px;}
.vacancies-list-right{min-width:220px; text-align: right; padding-top:10px;}
.apply-now{text-decoration: none; font-weight:600; font-size:22px;}
.apply-now svg{width:30px; height:30px; fill:#00b542;}
.apply-now:hover{color:#000;}
.apply-now:hover svg{fill:#000;}
.readmore{background:transparent; border:0; color:#00b542; display: inline-block;}
.readmore:hover{text-decoration: none; color:#000;}
.moretext{display: none;}
.please-contact{text-align: center; margin-top:50px;}
.please-contact a{text-decoration: none;}
.please-contact a:hover{color:#000;}
/*Career Page Css End*/

/*Contact Us Page Css Start*/
.reservation-section{padding-bottom:100px;}
.reservation-box{max-width:780px; margin:-50px auto 15px; padding:50px 60px; border:1px solid #d9d9d9; border-radius:30px; position: relative; z-index:2; background:#fff;}
.reservation-box form{margin-top:40px;}
.reservation-box .form-control, .reservation-box .form-select{height:55px; border-radius:8px;}
.reservation-box textarea.form-control{height:auto; resize: none;}
.reservation-box .form-label sup{color:#f00; top:0; font-size:16px;}
.reservation-box .btn[type="submit"]{min-width:170px;}
.reservation-title{font-size:26px; color:#000; font-weight:600; margin-bottom:10px; text-align: center; font-family: 'Poppins', sans-serif;}
.reservation-contact{text-align: center; font-style: italic; margin-top:4px;}

.reservation-address-section{position: relative; padding:100px 0;}
.reservation-address-section .container{position: relative; z-index:1; display: grid;  grid-template-columns: repeat(2,1fr);  row-gap:40px; gap:40px;}
.reservation-address-section:before{content:''; position: absolute; top:0; left:0; right:0; height:193px; background:#00b542; z-index:0;}


.address-listing{border:1px solid #00b542; padding:30px 40px; border-radius:15px; background:#fff;}
.address-title{padding-bottom:10px; margin-bottom:20px; position: relative; font-size:18px; color:#000; font-weight: 800; font-family: 'Plus Jakarta Sans', sans-serif;}
.address-title:before{content:''; position: absolute; top:100%; left:0; height:1px; width:120px; background:rgba(0,0,0,0.15);}
.address-title:after{content:''; position: absolute; top:100%; left:0; height:7px; width:30px; background:#00b542; margin-top:-3px;}
.address-listing address, .address-listing p{font-size:15px; line-height:24px; color:#414351; margin-bottom:6px;}

.google-map{border-bottom:2px solid #00b542;}
/*.google-map iframe{display:block; width:100%; height:670px;}*/
.google-map #map{width: 100%; height:650px; box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);}
.map-section #map{width:100%; height:520px; border: 6px solid #fff; box-shadow:0 10px 30px 0 rgba(0,0,0,0.2);}
.location-info strong {background: #00b542; font-size: 18px; color: #fff; font-weight: 600; display: block; padding: 10px 16px; text-transform: uppercase; letter-spacing: 1px;   font-family: 'Plus Jakarta Sans', sans-serif;}
.location-info ul{list-style:none; padding:0; margin:0;}
.location-info ul li{display:block; position:relative; font-size:14px; line-height:24px; padding:10px 0 10px 40px; border-bottom:1px solid #d9d9d9; font-weight:400;  color:#000;}
.location-info ul li .fa{position:absolute; left:0; top:8px; font-size:24px; color:#00b542; width:32px; text-align: center;}

.contact-right-text{text-align: left;}
.seating-style-check{display: inline-block; padding:0; margin-right:20px;}
.seating-style-check .form-check-label{border:1px solid transparent; background:#f1f1f1; padding:15px; border-radius:12px; cursor: pointer; width:110px; height:110px; text-align: center;}
.seating-style-check input[type="radio"]{display: none;}
.seating-style-check input[type="radio"]:checked + .form-check-label{border-color:#00b542; background:#fff; box-shadow:0 8px 20px 0 rgba(0,0,0,0.10);}
.seating-style-check span{display:block; font-size:14px; color:#8c8c8c; margin-top:15px; font-weight:500;}
/*Contact Us Page Css End*/

/*Gallery Page Css Start*/
.gallery-page-section{padding:100px 0;}
.gallery-page-section .item{margin-bottom:24px; overflow: hidden;}
.gallery-page-section .item img{max-width:100%;}
/*Gallery Page Css End*/

/*Event Page Css Start*/
.event-list{display: flex; gap:30px; align-items: start; flex-direction:row-reverse; border-bottom:1px solid #d9d9d9; padding:50px 0;}
.event-list p{font-size:15px; line-height:24px; color:#686b78; margin-bottom:0;}
.event-list-cont{display: flex; gap:27px; align-items: start;}
.event-list-img{max-width:350px; min-width:350px; width:350px; border-radius:20px; overflow: hidden;}
.event-date{min-width:70px; max-width:70px; width:70px; background:#00b542; text-align:center; padding:18px 10px; border-radius:12px; color:#fff; text-transform:uppercase; font-weight:300;}
.event-date strong{font-size:32px; line-height:35px; font-weight:500; padding-top:6px; display: block;}
.event-timing{font-size:14px; color:#686b78;}
.event-name{font-size:32px; font-weight:500; color:#01082c; text-transform: uppercase; letter-spacing:1px; display: inline-block; text-decoration: none; margin-bottom:10px;}

.request-book-form{margin-top:55px;}
.request-book-form form{margin-top:0;}

.step-btns{display: flex; justify-content: space-around; margin-bottom:45px; position: relative;}
.step-btns button{width:50%; border:0; background:transparent; color:#ababab; font-size:16px; text-transform: uppercase; font-weight:500; position: relative;}
.step-btns button:after{content:''; position: absolute; top:28px; left:0; right:0; height:3px; background:#ddd; z-index:0;}
.step-btns button.active:after{background:#00b542; z-index:1}
.step-btns button.active span{color:#00b542;}
.step-btns button.active .step-icon{background:#00b542; color:#fff;}

.step-icon{background:#e2e2e2; width:56px; height:56px; line-height:56px; border-radius:30px; text-align: center; margin:0 auto 14px; font-size:28px; position: relative; z-index:2;}

.maintab-design .nav-link{color:#646464; background:#fff; padding:14px 28px; border-radius:0; font-size:16px; border:1px solid #d9d9d9; position: relative;}
.maintab-design .nav-link:after{content:''; position: absolute; top:100%; left:50%; border:12px solid transparent; border-top-color:#00b542; margin-left:-12px; opacity:0;}
.maintab-design .nav-link.active, .maintab-design .show>.nav-link{background:#00b542; border-color:#00b542; color:#fff;}
.maintab-design .nav-link.active:after, .maintab-design .show>.nav-link:after{opacity:1;}

.subtab-design{margin-bottom:15px;}
.subtab-design .nav-item{margin-right:5px;}
.subtab-design .nav-link{color:#6a6a6a; background:#f3f3f3; padding:6px 15px; border-radius:0; font-size:14px; text-transform: uppercase; font-weight:500; letter-spacing:1px;}
.subtab-design .nav-link.active, .subtab-design .show>.nav-link{background:#05031d; color:#fff;}
/*Event Page Css End*/

/*Event Details box Start*/
.event-details-box{background:#fff; border:1px solid #d9d9d9; border-radius:20px; padding:22px 0; margin-top:-40px; position: relative; z-index:2;}
.event-details-box ul{list-style: none; margin:0; padding:0;}
.event-details-box ul li{padding:15px 20px; text-transform: uppercase; display: flex; align-items: center; gap:21px;}
.event-details-box ul li:nth-child(odd){padding:12px 20px; background: -moz-linear-gradient(45deg,  rgba(5,3,29,0.05) 0%, rgba(0,181,66,0.05) 100%);
background: -webkit-linear-gradient(45deg,  rgba(5,3,29,0.05) 0%,rgba(0,181,66,0.05) 100%);
background: linear-gradient(45deg,  rgba(5,3,29,0.05) 0%,rgba(0,181,66,0.05) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d05031d', endColorstr='#0d00b542',GradientType=1 );
}
.event-details-title{padding:0 15px 15px 30px; font-size:22px; color:#05031d; text-transform: uppercase; font-weight:600;}
.e-title{font-size:15px; color:#6a6a6a;}
.e-detail{font-size:20px; line-height:24px; color:#000; font-weight:600;}
.font18{font-size:18px; text-transform:none;}
.e-icon{background:url(../img/e-bg.png) no-repeat center bottom; width:69px; min-width:69px; max-width:69px; height:76px; line-height:76px; text-align: center;}
.event-details-box ul li:nth-child(odd) .e-icon{background-position:center top;}
.event-detail-title{font-size:32px; color:#01082c;  font-family: 'Plus Jakarta Sans', sans-serif;}
/*Event Details box End*/

/*Blog Page Css Start*/
.blog-page-section{padding:120px 0 75px;}
.blog-listing{padding-right:20px;}
.blog-list{margin-bottom:50px;}
.blog-list p{font-size:16px; color:#6a6a82; line-height:25px; margin-bottom:30px;}
.blog-img{position: relative;}
.blog-date{position: absolute; left:-12px; top:20px; background:#00b542; padding:8px 24px; color:#fff; font-size:15px; text-transform: uppercase; pointer-events: none;}
.blog-date:after{content:''; position: absolute; left:0; top:100%; border:12px solid transparent; border-top-color:#009837; border-top-width:10; border-right-width:0;}
.web-logo{position: absolute; left:50%; top:50%;  pointer-events: none;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.blog-title{font-size:28px; color:#010110; font-family: 'Plus Jakarta Sans', sans-serif; font-weight:700; margin:0 0 20px;}
.blog-title a{color:#010110; text-decoration: none;}
.blog-title a:hover{color:#00b542; text-decoration: none;}
.blog-text{padding:30px 40px 40px; margin:-40px 30px 0; position: relative; z-index:2; background:#fff; border:1px solid rgba(0,0,0,0.15);}

.search-box{position: relative; margin-bottom: 30px; background:#00b542; padding:20px; border-radius:10px;}
.search-box .form-control{height:38px; font-size:15px; border-radius:6px; border:0; padding:5px 5px 5px 15px}
/*.search-box .search-btn{position: absolute; top: 5px; right: 5px; width: 36px; height: 36px; border-radius: 30px; background: #00b542; color: #fff; border: 0}*/

.side-social{width:41px; height:41px; line-height:41px; border-radius:6px; text-align: center; background:#000; color:#fff; text-decoration: none; margin-right:8px;}
.side-social.fa-facebook{background:#4167b1;}
.side-social.fa-twiter{background:#1ca1f1;}
.side-social.fa-instagram{background:#d81f77;}
.side-social.fa-linkedin{background:#0076b4;}
.side-social.fa-youtube{background:#ff0100;}
.side-social:hover{opacity:0.8; color:#fff;}

.sidebar-box-list{margin-bottom:30px; padding-bottom:30px; border-bottom:3px solid #e3e3e3;}
.sidebar-box-list:last-child{padding-bottom:0; border-bottom:0;}
.sidebar-heading{font-size:18px; text-transform: uppercase; color:#282828; font-weight:800; position: relative; padding-bottom:15px; margin-bottom:20px; font-family: 'Plus Jakarta Sans', sans-serif;}
.sidebar-heading:before{content:''; position: absolute; top:100%; left:0; height:1px; width:110px; background:rgba(0,0,0,0.15);}
.sidebar-heading:after{content:''; position: absolute; top:100%; left:0; height:7px; width:23px; background:#00b542; margin-top:-3px;}

.latest-blog-list{display: flex; align-items: center; border-bottom: 1px solid #eee; padding: 15px 0; text-decoration: none;}
.latest-blog-list:first-child{padding-top: 0}
.latest-blog-list:last-child{padding-bottom: 0; border-bottom: 0}
.latest-blog-img{max-width: 73px; min-width: 73px; height: 64px; margin-right:15px; border-radius:12px; overflow: hidden;}
.latest-blog-img img{height: 100%; width: 100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

.latest-blog-list:hover .latest-blog-img img {
	-webkit-transform: rotate(2deg) scale(1.2);
	-ms-transform: rotate(2deg) scale(1.2);
	-o-transform: rotate(2deg) scale(1.2);
	-moz-transform: rotate(2deg) scale(1.2);
	transform: rotate(2deg) scale(1.2)
}

.latest-blog-title{color: #000; text-decoration: none; font-size:16px; color:#02031b; font-weight:600;}
.latest-blog-list:hover .latest-blog-title,.latest-blog-list:focus .latest-blog-title{color: #00b542; text-decoration: none}

.categories-list{display: flex; margin:16px 0; text-decoration: none; font-size: 16px; color: #282828}
.categories-list:hover{color: #00b542}

.tags-list{display: inline-block; vertical-align: top; padding:5px 12px; background:#505d65; color:#fff; text-decoration:none; border-radius:15px; font-size:13px; font-style:italic; margin:0 5px 10px 0;}
.tags-list:hover, .tags-list:focus{background:#00b542; color:#fff;}
/*Blog Page Css End*/

/*Blog Detail Page Css Start*/
.blog-detail{padding-right: 20px;}
.blog-detail p{font-size:15px; color:#444454; line-height:25px; margin-bottom:30px;}
.blog-date-simple{font-size:13px; letter-spacing:2px; color:#fff; background:#222; padding:5px 12px; margin:15px 0; display: inline-block; text-transform: uppercase;}
/*Blog Detail Page Css End*/

/*Login & Sign page Css Start*/
.account-detail-page{height:100vh; position: relative; background:#000; padding:20px 0; display: flex; align-items: center;}
.account-detail-page .container{position: relative; z-index:1;}
.account-detail-page:after{content:''; background:url('../img/account-bg.jpg') no-repeat center; background-size:cover; height:100vh; filter: blur(15px); -webkit-filter: blur(15px); position: absolute; top:0; left:0; right:0; bottom:0; z-index:0; opacity:0.8}

.form-title{font-size:22px; line-height:32px; font-weight:600; margin:0 0 20px;}
.account-form{min-height:505px;  background:#fff; padding:15px;}
.account-form-inner{overflow-y: auto; overflow-x: hidden; padding:35px; max-height:90vh;}
.account-form-inner::-webkit-scrollbar{-webkit-appearance:none}
.account-form-inner::-webkit-scrollbar:vertical{width:8px}
.account-form-inner::-webkit-scrollbar:horizontal{height:8px}
.account-form-inner::-webkit-scrollbar-thumb{border-radius:8px; border:1px solid #fff; background-color:#ddd;}

.account-img{position: relative; border:2px solid rgba(255,255,255,0.3); border-right:0;}
.brand-img{position:absolute; top:50%; left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.brand-img img{max-width: 170px;}

.account-title{position: absolute; bottom:10px; left:10px; right:10px; font-size:24px; color:#fff; background:rgba(0,0,0,0.5); padding:10px 24px; text-align: center; text-transform: uppercase; letter-spacing:2px;}
.account-form .form-control, .account-form .form-select{height:46px; border-radius:6px; font-size:14px; padding-left:16px;}
.account-form textarea.form-control{height:auto; padding-top:15px;}
.account-form .form-check{font-size:14px;}

.passcode-wrapper input{width:36px; height:36px; line-height:36px; border-radius:22px; text-align: center; font-size:16px; color:#000; border:1px solid #d9d9d9;}
/*Login & Sign page Css End*/

/*Rooms Page Css Start*/
.rooms-page-section{padding:100px 0;}
.room-list{margin-bottom:60px;}
.room-list-img{position: relative;}
.room-offers{position: absolute; top:10px; left:10px; background:#fff; padding:15px 10px; width:70px; text-align:center; text-transform: uppercase; pointer-events: none;}
.room-offers big{display:block; font-size:25px; line-height:30px; font-weight:600; color:#090910;}
.room-offers big sup{font-size:14px;}
.room-offers span{display:block; font-size:20px; line-height:25px; font-weight:300;}
.room-list-detail{background:#f9f9f9; padding:30px 100px 0 40px; margin:-30px 30px 0; position: relative; z-index:1; border-top:3px solid #00b542;}
.room-list-detail p{font-size:16px; color:#57576d; line-height:24px; min-height:150px;}
.room-list-title{font-size:26px; font-weight:800; font-family: 'Plus Jakarta Sans', sans-serif; color:#222; text-transform: uppercase; letter-spacing:1px; margin-bottom:8px;}
.room-list-title a{color:#222; text-decoration: none;}
.room-list-title a:hover{color:#00b542; text-decoration: none;}
.room-list-bottom{background:#101015; padding:8px 40px; margin:0 -40px; color:#fff;}
.room-list-bottom big{color:#00b542; font-size:30px; font-weight:500;  display: inline-block; vertical-align: middle;}
.room-list-bottom s{color:#b0b0b0; font-size:20px; opacity:0.5; margin-left:25px; display: inline-block; vertical-align: middle;}

.room-detail-btn{width:60px; height:100%; position: absolute; top:0; bottom:0; right:0; font-size:17px; font-weight:500; text-transform: uppercase; text-align: center; display: flex; justify-content:center; text-decoration: none; background:#00b542; color:#fff; letter-spacing:-3px;}
.room-detail-btn span{writing-mode: vertical-rl; text-orientation: upright; display: block;}
.room-detail-btn:hover, .room-detail-btn:focus{color:#fff; background:#009e3a;}

.direct-contact{padding:30px; border:1px solid #d9d9d9; border-radius:15px; box-shadow:0px -6px 10px 0 rgba(0,0,0,0.10);}
.direct-con-box{display:flex; gap:15px; margin:30px 0;}
.direct-con-img{width:81px; min-width:81px; max-width:81px; height:81px; border-radius:16px; overflow: hidden;}
.direct-con-img img{max-width:100%;}
.direct-contact-title{font-size:20px; color:#00b542; text-align: center; font-weight:800; text-transform: uppercase; font-family: 'Plus Jakarta Sans', sans-serif; margin-bottom:10px;}
.direct-contact p{text-align: center; font-size:15px; line-height:22px; color:#59596e;}
.direct-sub-title{font-size:14px; color:#70707a; font-weight:400;}
.direct-sub-name{font-size:17px; color:#090910; font-weight:800; font-family: 'Plus Jakarta Sans', sans-serif; text-transform: uppercase; margin:3px 0;}
.direct-sub-number{font-size:16px; color:#00b542; font-weight:500;}

.reservation-form{background:#090910; border-radius:15px; padding:30px; margin-bottom:50px;}
.reservation-form .form-label{font-family: 'Plus Jakarta Sans', sans-serif; font-size:14px; font-weight:700; text-transform: uppercase; color:#fff;}
.reservation-form .form-control, .reservation-form .form-select, .rooms_guests{height:45px; border-radius:0; border:0; font-size:14px; color:#646464; padding-left:18px;}
.reservation-form textarea.form-control{height:auto; padding-top:12px; resize:none;}
.reservation-form-title{text-align: center; color:#00b542; font-size:26px; font-weight:600; text-transform: uppercase; margin:0 0 20px; letter-spacing:1px;}
.rooms_guests{line-height:45px; background-color:#fff; cursor: pointer; position: relative;}
.rooms_guests:after{position: absolute; top: 50%; right: 8px; font-size: 19px; font-weight:400; content: "\f107"; color: #555; padding: 0 5px; font-family: FontAwesome; transform: translateY(-50%);}
.reservation-btn{height:45px; line-height:34px; border-radius:0; padding:5px;}
.rooms_guests_list{height: auto; border: 1px solid rgba(255,255,255,0.3); padding:15px 15px; background:#fff; margin-top:3px;}
.added-rooms-list{background:#f0f0f0; padding: 10px 20px; border-radius: 10px; margin-bottom:10px;}
.added-rooms-action{display: flex; gap:10px; justify-content: space-between;}
.added-rooms-action a{margin-left:10px; cursor: pointer;}
.added-rooms-action p, .added-rooms-detail p, .room_adults_heading p{margin:0; font-size:14px;}
.room_adults_heading{text-transform: uppercase;}
.room_number ul{list-style: none; padding:0; margin:0;}
.room_number ul li{width:36px; height:36px; line-height:36px; text-align: center; border:1px solid #d9d9d9; display: inline-block; border-radius:8px; cursor: pointer;}
.room_number ul li.selected, .room_number ul li:hover{border-color:#00b542; background:#00b542; color:#fff;}
.guests_list{padding-top:12px;}
.added-rooms{max-height:230px; overflow-y: auto;}
.added-rooms::-webkit-scrollbar{-webkit-appearance:none}
.added-rooms::-webkit-scrollbar:vertical{width:8px}
.added-rooms::-webkit-scrollbar:horizontal{height:8px}
.added-rooms::-webkit-scrollbar-thumb{border-radius:8px; border:1px solid #fff; background-color:#ddd;}
.added-rooms-detail{background:#fff; padding:15px; border:1px solid #d8d8d8; border-radius:12px; margin-top:10px;}
/*Rooms Page Css End*/



/*Responsive Css Start///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (max-width:1450px){
	.banner-title{font-size:56px;}
	.welcome-title{font-size:28px;}
	.slider-text .btn-lg{font-size: 18px; padding: 15px; min-width: 210px;}
	.destinations-inner{gap:30px;}
	.destinations-inner span{font-size:25px; line-height:35px;}
	.hotel-service-title, .art-artefacts-title, .section-title, .tag-thetradefair-title{font-size:34px;}
	a.footer-contact-detail, address.footer-contact-detail{font-size:15px;}

	/*About Page */
	.page-title-section{min-height:320px;}
	.page-title{font-size:40px;}
}

@media (max-width:1199px){
	.hotel-service-title, .art-artefacts-title, .section-title, .tag-thetradefair-title{font-size:28px; letter-spacing:1px;}
	.destinations-inner{grid-template-columns: repeat(3,1fr);}
	.hotel-service-box-inner{padding: 10px 0 10px 30px;}
	.hotel-service-box:nth-child(even) .hotel-service-box-inner{padding-right:30px;}
	.hotel-service-box p, .art-artefacts-section p, .verdance-box p{font-size:14px; line-height:24px;}
	.art-artefacts-section{padding:30px;}
	.art-artefacts-text{padding: 30px 0 0 10px;}
}

@media (max-width:991px){
	.overflow-body{overflow: hidden;}
	.destinations-inner{grid-template-columns: repeat(2,1fr);}
	.reservation-address-section .container{grid-template-columns: repeat(1,1fr);}
	.header-top .container{max-width:100%;}
	.left-menu b{display: none;}
	.seprator, .right-menu span{margin-left:8px; margin-right:8px;}
	.navbar-collapse{position: fixed; display: block!important; top: 0; right: -100%; width:60%; height: 100%; overflow-y: auto; z-index: 106; background-color: #fff; border-left:3px solid #00b542;
		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		transition: .3s ease-in-out
	}
	.navbar-collapse.show-menu{right: 0;}
	.navbar-expand-lg .navbar-nav{clear: both; display: block; height: calc(100vh - 62px); margin:0 !important; overflow-y: auto; overflow-x:hidden; left:0;}
	.navbar-expand-lg .navbar-nav::-webkit-scrollbar{-webkit-appearance: none}
	.navbar-expand-lg .navbar-nav::-webkit-scrollbar:vertical {width: 12px}
	.navbar-expand-lg .navbar-nav::-webkit-scrollbar:horizontal {height: 12px}
	.navbar-expand-lg .navbar-nav::-webkit-scrollbar-thumb{border-radius: 12px; border: 1px solid #fff; background-color: #d9d9d9}
	.navbar-nav .nav-link{font-size:20px; margin:0; padding:14px 32px;}
	.mobile-menu-close{float: right; text-align: center; margin-bottom: 20px; display:block;}
	.mobile-menu-close svg{width:40px; height:40px;}
	.mobile-menu-close:after{content:''; position: fixed; top:0; left:-50%; bottom:0; width:40%; background:rgba(0,0,0,0.8);  -webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
	.navbar-collapse.show-menu .mobile-menu-close:after{left:0;}

	.hotel-service-section{padding-bottom:10px;}
	.hotel-service-box-inner, .hotel-service-box:nth-child(even) .hotel-service-box-inner{padding:20px 0 70px;}
	.art-artefacts-section .owl-carousel .owl-nav button.owl-prev, .art-artefacts-section .owl-carousel .owl-nav button.owl-next{right:10px; top:50%; bottom: auto; margin-top:-120px;}
	.art-artefacts-section .owl-carousel .owl-nav button.owl-prev{left:10px; right: auto;}
	.slider-text{padding:60px 0;}
	.banner-title{line-height:66px;}
}

@media (max-width:767px){
	main.web-main{margin-top: 100px;}
	.btn{padding: 8px 18px; font-size: 14px; border-radius: 6px;}
	.navbar{height:60px;}
	.navbar-brand img{max-width: 66px;}
	.left-menu span{display: none;}
	.welcome-title{font-size:18px;}
	.banner-section .owl-carousel .item{min-height:calc(100vh - 100px);}
	.banner-title{font-size:36px; line-height:45px; letter-spacing:2px;}
}

@media (max-width:499px){
	.navbar-collapse{width:80%;}
	.mobile-menu-close:after{width:20%;}
	.copyright{display:block; text-align: center; margin-top:10px;}
	.destinations-section, .testimonials-section{padding: 40px 0;}
	.destinations-inner{grid-template-columns: repeat(1,1fr); margin-top:30px;}
	.hotel-service-section{padding-top:40px;}
	.hotel-service-title, .art-artefacts-title, .section-title, .tag-thetradefair-title{font-size:20px;}
	.hotel-service-box-inner, .hotel-service-box:nth-child(even) .hotel-service-box-inner{padding:15px 0 40px}
	.art-artefacts-section{padding:15px; border-radius:12px; margin-bottom:40px;}
	.art-artefacts-img{border-radius:12px;}
	.verdance-box{padding:15px 25px; margin: 10px;}
	.verdance-section{height: auto; min-height:400px;}
	.verdance-box-title{font-size:20px;}
	.testimonials-section .owl-carousel{margin-top:20px;}
	.tes-message-box{padding: 20px 5% 80px; min-height:440px;}
	.tes-message-box p{font-size: 14px; line-height: 24px;}
	.tes-author-img{width: 90px; height: 90px; border-width: 2px;}
	.tes-author-box {margin-top: -45px;}
	.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{width: 35px; height: 35px; line-height: 35px;}
	.owl-carousel .owl-nav button.owl-next img, .owl-carousel .owl-nav button.owl-prev  img{max-width: 35px;}
	.banner-section .owl-carousel .owl-nav button.owl-prev, .testimonials-section .owl-carousel .owl-nav button.owl-prev, .testimonials-section .owl-carousel .owl-nav button.owl-next{bottom:55px;}
	.testimonials-section .owl-carousel .owl-nav button.owl-next{left: auto; right:0}
	.tag-thetradefair{padding:40px 0;}
	.tag-thetradefair-message{font-size:14px; line-height:24px;}
	.footer-section{padding-top:1px;}
	.footer-title:first-child{margin-top:40px;}
}
/*Responsive Css End///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/